<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
   
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- CSS link -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
  <section id="header">
    <a href="#"><img src="{% static 'img/logo.webp' %}" class="logo" alt=""></a>

    <div>
      <ul id="navbar">
   
          <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
          <li {% if request.path == '/shop/' %}class="active"{% endif %}><a href="/shop/">Shop</a></li>
          <li {% if request.path == '/about/' %}class="active"{% endif %}><a href="/about/">About</a></li>
          <li {% if request.path == '/contact/' %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
      </ul>
  </div>
  

 </section>
     
     <section id="hero">
      <h4>Trade-in-offer</h4>
      <h2>Super value deals</h2>
      <h1>On all products</h1>
      <p>Save more with coupons & up to 70% off!</p>
    <a href="{% url 'shop' %}"><button>Shop Now</button></a>

     </section>
     
     <section id="feature" class="section-p1">
         <div class="fe-box">
           <img src="static/img/features/f1.png" alt="">
           <h6>Free Shipping</h6>
         </div>

         <div class="fe-box">
            <img src="static/img/features/f2.png" alt="">
            <h6>Online Order</h6>
          </div>

          <div class="fe-box">
            <img src="static/img/features/f3.png" alt="">
            <h6>Save Money</h6>
          </div>

          <div class="fe-box">
            <img src="static/img/features/f4.png" alt="">
            <h6>Promotions</h6>
          </div>

          <div class="fe-box">
            <img src="static/img/features/f5.png" alt="">
            <h6>Happy Sell</h6>
          </div>

          <div class="fe-box">
            <img src="static/img/features/f6.png" alt="">
            <h6>F24/7 Support</h6>
          </div>
     </section>

     <section id="product1" class="section-p1">
     <h2>Featured Products</h2>
     <p>Summer Collection New Morden Design</p>
     <div class="pro-container">
     <div class="pro">
        <img src="static/img/products/f1.jpg" alt="">
        <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="star">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
        </div>
        <a href="{% url 'product' %}"><i class="fal fa-shopping-cart cart"></i></a>
     </div>
     <div class="pro">
      <img src="static/img/products/f2.jpg" alt="">
      <div class="des">
          <span>adidas</span>
          <h5>Cartoon Astronaut T-Shirts</h5>
          <div class="star">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
          </div>
          <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
   </div>
   <div class="pro">
    <img src="static/img/products/f3.jpg" alt="">
    <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-Shirts</h5>
        <div class="star">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
        </div>
        <h4>$78</h4>
    </div>
    <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
 <div class="pro">
  <img src="static/img/products/f4.jpg" alt="">
  <div class="des">
      <span>adidas</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
      </div>
      <h4>$78</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
</div>
<div class="pro">
  <img src="static/img/products/f5.jpg" alt="">
  <div class="des">
      <span>adidas</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
      </div>
      <h4>$78</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
</div>
<div class="pro">
  <img src="static/img/products/f6.jpg" alt="">
  <div class="des">
      <span>adidas</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
      </div>
      <h4>$78</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
</div>
<div class="pro">
  <img src="static/img/products/f7.jpg" alt="">
  <div class="des">
      <span>adidas</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
      </div>
      <h4>$78</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
</div>
<div class="pro">
  <img src="static/img/products/f8.jpg" alt="">
  <div class="des">
      <span>adidas</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
       <i class="fas fa-star"></i>
      </div>
      <h4>$78</h4>
  </div>
  <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
</div>
    </div>
     </section>

     <section id="banner" class="section-m1">
      <h4>Repair Services</h4>
      <h2>up to <span>70% off</span> - All t-shirts & Accessories</h2>
      <button class="normal">Explore More</button>
     </section>

     <section id="product1" class="section-p1">
      <h2>New Arrivals</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
      <div class="pro">
         <img src="static/img/products/n1.jpg" alt="">
         <div class="des">
             <span>adidas</span>
             <h5>Cartoon Astronaut T-Shirts</h5>
             <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
             </div>
             <h4>$78</h4>
         </div>
         <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
       <img src="static/img/products/n2.jpg" alt="">
       <div class="des">
           <span>adidas</span>
           <h5>Cartoon Astronaut T-Shirts</h5>
           <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
           </div>
           <h4>$78</h4>
       </div>
       <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
     <img src="static/img/products/n3.jpg" alt="">
     <div class="des">
         <span>adidas</span>
         <h5>Cartoon Astronaut T-Shirts</h5>
         <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
         </div>
         <h4>$78</h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
  </div>
  <div class="pro">
   <img src="static/img/products/n4.jpg" alt="">
   <div class="des">
       <span>adidas</span>
       <h5>Cartoon Astronaut T-Shirts</h5>
       <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </div>
       <h4>$78</h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
 <div class="pro">
   <img src="static/img/products/n5.jpg" alt="">
   <div class="des">
       <span>adidas</span>
       <h5>Cartoon Astronaut T-Shirts</h5>
       <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </div>
       <h4>$78</h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
 <div class="pro">
   <img src="static/img/products/n6.jpg" alt="">
   <div class="des">
       <span>adidas</span>
       <h5>Cartoon Astronaut T-Shirts</h5>
       <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </div>
       <h4>$78</h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
 <div class="pro">
   <img src="static/img/products/n7.jpg" alt="">
   <div class="des">
       <span>adidas</span>
       <h5>Cartoon Astronaut T-Shirts</h5>
       <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </div>
       <h4>$78</h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
 <div class="pro">
   <img src="static/img/products/n8.jpg" alt="">
   <div class="des">
       <span>adidas</span>
       <h5>Cartoon Astronaut T-Shirts</h5>
       <div class="star">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </div>
       <h4>$78</h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 </div>
     </div>
     </section>

     <section id="sm-banner" class="section-p1">
      <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
      </div>
      <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcomming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">collcetion</button>
      </div>
     </section>

     <section id="banner3">
      <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
      </div>
      <div class="banner-box banner-box2">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h3>Spring / Summer 2022</h3>
      </div>
      <div class="banner-box banner-box3">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints</h3>
      </div>
     </section>

     <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offer.</span></p>
      </div>
      <div class="form">
          <input type="text" placeholder="Your email address">
          <button>sign up</button>
      </div>
     </section>


     <footer class="section-p1">
      <div class="container-fluid">
        <div class="row">
    
          <div class="col-md-3">
            <img class="logo" src="static/img/logo.webp" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 61, Mela Street, Thanjavur</p>
            <p><strong>Phone:</strong> 9876543210 / 9790528623</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
              <h4>Follow Us</h4>
              <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>
          </div>
    
          <div class="col-md-3">
            <h4>About</h4>
            <a style="color: black;" class="style" href="#">About us</a><br>
            <a style="color: black;" href="#">Delivery Information</a><br>
            <a style="color: black;" href="#">Privacy Policy</a><br>
            <a style="color: black;" href="#">Terms & Conditions</a><br>
            <a style="color: black;" href="#">Contact us</a><br>
          </div>
    
          <div class="col-md-3">
            <h4>My Account</h4>
            <a style="color: black;" href="#">Sign In</a><br>
            <a style="color: black;" href="#">View Cart</a><br>
            <a style="color: black;" href="#">My Wishlist</a><br>
            <a style="color: black;" href="#">Track My Order</a><br>
            <a style="color: black;" href="#">Help</a><br>
          </div>
    
          <div class="col-md-3 install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
              <div class="col-md-6">
                <img src="static/img/pay/app.jpg" alt="">
              </div>
              <div class="col-md-6">
                <img src="static/img/pay/play.jpg" alt="">
              </div>
            </div>
            <p>Secured Payment Gateways</p>
            <img src="static/img/pay/pay.png" alt="">
          </div>
    
        </div>
      </div>
<div class="copyright">
        <p> 2021, tech2etc-HTML CSS Ecommerce Template</p>
      </div>
    </footer>
   
    
      
    <script src="script.js"></script>
</body>
</html>