<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- CSS link -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- MDB CSS -->
<link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.12.0/dist/css/mdb.min.css" rel="stylesheet">

<!-- MDB JS -->
<script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.12.0/dist/js/mdb.min.js"></script>
<style>
  
.carousel-item {
    height: 50vh;
  }
.card {
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer-cta {
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.price {
color: #263238;
font-size: 24px;
}

.card-title {
color:#263238
}

.sale {
color: #E53935
}

.sale-badge {
background-color: #E53935
}
</style>
</head>
  <!--Main layout-->
  <body>
    <section id="header">
        <a href="#"><img src="{% static 'img/logo.webp' %}" class="logo" alt=""></a>

        <div>
          <ul id="navbar">
       
              <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
              <li {% if request.path == '/shop/' %}class="active"{% endif %}><a href="/shop/">Shop</a></li>
              <li {% if request.path == '/about/' %}class="active"{% endif %}><a href="/about/">About</a></li>
              <li {% if request.path == '/contact/' %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
          </ul>
      </div>
      

     </section>
  <main>
  <div class="container">
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #607D8B">
    <!-- Container wrapper -->
    <div class="container-fluid">
  
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Categories:</a>
  
      <!-- Toggle button -->
      <button 
         class="navbar-toggler" 
         type="button" 
         data-mdb-toggle="collapse" 
         data-mdb-target="#navbarSupportedContent2" 
         aria-controls="navbarSupportedContent2" 
         aria-expanded="false" 
         aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!-- Link -->
          <li class="nav-item active">
            <a class="nav-link text-white" href="#">All</a>
          </li>
          <li class="nav-item">
                <a class="nav-link text-white" href="#">Shirts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Sport wears</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Outwears</a>
              </li>
  
        </ul>
  
        <!-- Search -->
        <form class="w-auto py-1" style="max-width: 12rem">
          <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
        </form>
  
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
    
  <!-- Products -->
    <section>
    <div class="text-center">
      <div class="row">
        
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-dark ms-2">NEW</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Denim shirt</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Shirt</p>
              </a>
              <h6 class="mb-3 price">120$</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
                class="w-100" />
              <a href="#!">  
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">bestseller</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
                
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Sweatshirt</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Sport wear</p>
              </a>
              <h6 class="mb-3 price">139$</h6>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
                class="w-100" style="height: 324px;" />
              <a href="#!">              
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Grey blouse</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Sport wear</p>
              </a>
              <h6 class="mb-3 price">99$</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                class="w-100" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge sale-badge ms-2">-10%</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Black jacket</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Outwear</p>
              </a>
              <h6 class="mb-3 price">
                <s>199$</s><strong class="ms-2 sale">179$</strong>
              </h6>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg"
                class="w-100" style="height: 293px;" />
              <a href="#!">              
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Sweatshirt</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Sport wear</p>
              </a>
              <h6 class="mb-3 price">139$</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg"
                class="w-100"  style="height: 259px;" />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-success ms-2">Eco</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Grey blouse</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Sport wear</p>
              </a>
              <h6 class="mb-3 price">99$</h6>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15.jpg"
                class="w-100" />
              <a href="#!">              
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Black jacket</h5>
              </a>
              <a href="" class="text-reset">
                <p>Outwear</p>
              </a>
              <h6 class="mb-3 price">199$</h6>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
                class="w-100" />
              <a href="#!">              
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-2">Denim shirt</h5>
              </a>
              <a href="" class="text-reset ">
                <p>Shirt</p>
              </a>
              <h6 class="mb-3 price">120$</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <!-- Pagination -->
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>  
  <!-- Pagination -->  
  </div>
  </main>
  <footer class="section-p1">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-md-3">
          <img class="logo" src="{% static 'img/logo.webp' %}" alt="ere">
          <h4>Contact</h4>
          <p><strong>Address:</strong> 61, Mela Street, Thanjavur</p>
          <p><strong>Phone:</strong> 9876543210 / 9790528623</p>
          <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
          <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-3">
          <h4>About</h4>
          <a style="color: black;" class="style" href="#">About us</a><br>
          <a style="color: black;" href="#">Delivery Information</a><br>
          <a style="color: black;" href="#">Privacy Policy</a><br>
          <a style="color: black;" href="#">Terms & Conditions</a><br>
          <a style="color: black;" href="#">Contact us</a><br>
        </div>
  
        <div class="col-md-3">
          <h4>My Account</h4>
          <a style="color: black;" href="#">Sign In</a><br>
          <a style="color: black;" href="#">View Cart</a><br>
          <a style="color: black;" href="#">My Wishlist</a><br>
          <a style="color: black;" href="#">Track My Order</a><br>
          <a style="color: black;" href="#">Help</a><br>
        </div>
  
        <div class="col-md-3 install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <div class="col-md-6">
              <img src="{% static 'img/pay/app.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
              <img src="{% static 'img/pay/play.jpg' %}" alt="">
            </div>
          </div>
          <p>Secured Payment Gateways</p>
          <img src="{% static 'img/pay/pay.png' %}" alt="">
        </div>
  
      </div>
    </div>
<div class="copyright">
      <p> 2021, tech2etc-HTML CSS Ecommerce Template</p>
    </div>
  </footer>
   
<script src="script.js"></script>
</body>
</html>